<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<servlet>
		<servlet-name>i</servlet-name>
		<servlet-class>insertStudentRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>i</servlet-name>
		<url-pattern>/insertstudentrecord</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>l</servlet-name>
		<servlet-class>loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>l</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>a</servlet-name>
		<servlet-class>adminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>a</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>v</servlet-name>
		<servlet-class>viewMyRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>v</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>u</servlet-name>
		<servlet-class>updateMyRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>u</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>v1</servlet-name>
		<servlet-class>viewAllRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>v1</servlet-name>
		<url-pattern>/viewallprofile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>d</servlet-name>
		<servlet-class>delRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>d</servlet-name>
		<url-pattern>/del</url-pattern>
	</servlet-mapping>
</web-app>